#signup {
  margin-top: 55px;
}

.error-message {
  background-color: #E57373;
  color: white;
  text-align: center;
}

.error-message .card-content {
  padding: 5px;
}

.btn-red {
  background-color: #E57373;
  color: #FFFFFF;
}
