<div class="row signup">
  <form class="col s12 offset-m4 m4" #signupForm="ngForm" autocomplete="off">
    <h4 class="logo">Feasy</h4>
    <div id="error" *ngIf="error">
      <div class="card error-message">
        <div class="card-content">
          {{ this.errorMessage }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <input placeholder="First Name" type="text" class="validate" pattern="^[\w\s]{2,}$" name="firstName" id="firstName" [(ngModel)]="user.firstName" #firstName="ngModel">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Last Name" type="text" class="validate" pattern="^[\w\s]{2,}$" name="lastName" id="lastName" [(ngModel)]="user.lastName" #lastName="ngModel">
      </div>
      <div class="input-field col s12 m12">
        <input placeholder="Email address *" type="text" class="validate" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" id="email" required [(ngModel)]="user.email" #email="ngModel">
      </div>
      <div class="input-field col s12 m12">
        <input placeholder="Username *" type="text" class="validate" pattern="^\w+([\.-]?\w+)*$" ondragover="" name="username" id="username" required [(ngModel)]="user.username" #username="ngModel">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <input placeholder="Password *" type="password" class="validate" name="password" id="password" required [(ngModel)]="user.password" #password="ngModel">
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Confirm password *" type="password" class="validate" name="repassword" id="repassword" [(ngModel)]="passwordValidator" required #repassword="ngModel">
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12 m12 l12">
        <input placeholder="Access code *" id="token" type="text" class="validate" pattern="^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$" name="token" [(ngModel)]="alphaCode" required #token="ngModel">
      </div>
    </div>
    <div class="row">
      <button type="submit" id="signup" class="waves-effect waves-light btn col s5  m3 offset-m5" routerLink="/login">Login</button>
      <button type="submit" id="signup" class="waves-effect waves-light btn col s5 offset-s7 m3 offset-m1" [class.disabled]="!signupForm.form.valid || (passwordValidator != user.password)" (click)="signupUser()">Signup</button>
    </div>
  </form>
</div>
