<div class="row">
  <div class="col s12 center fontify">
    <h3>To Do Listed by Date</h3>
  </div>
  <div id="date-view" class="col s12 center fontify">
    <h5>{{ this.today | date:'fullDate' }}</h5>
  </div>
  <div *ngIf="this.errors.general.occurred" id="toDoError">
    <div class="card error-message">
      <div class="card-content">
        {{ this.errors.general.message }}
      </div>
    </div>
  </div>

  <!-- Incomplete tasks section -->
  <div class="col m5 offset-m1 todo-main incomplete-list">
    <div *ngIf="this.errors.incompleteTasks.occurred" id="incompleteTasksError">
      <div class="card error-message">
        <div class="card-content">
          {{ this.errors.incompleteTasks.message }}
        </div>
      </div>
    </div>
    <div *ngIf="this.success.taskCreated.occurred" id="createTaskSuccess">
      <div class="card success-message">
        <div class="card-content">
          {{ this.success.taskCreated.message }}
        </div>
      </div>
    </div>
    <div class="col s12 center fontify">
      <h3>Incomplete</h3>
    </div>
    <div id="incompleteFilters" align='center'>
      <form action="#">
        <ul class="filter-list">
          <li>
            <input checked name="incompleteFilter" type="radio" id="incompleteFilter1" (change)="this.updateIncompleteFilter(this.FilterScopes.ALL)"/>
            <label for="incompleteFilter1">{{ this.FilterScopes.ALL }}</label>
          </li>
          <li>
            <input name="incompleteFilter" type="radio" id="incompleteFilter2" (change)="this.updateIncompleteFilter(this.FilterScopes.TODAY)" />
            <label for="incompleteFilter2">{{ this.FilterScopes.TODAY }}</label>
          </li>
          <li>
            <input name="incompleteFilter" type="radio" id="incompleteFilter3" (change)="this.updateIncompleteFilter(this.FilterScopes.THIS_WEEK)" />
            <label for="incompleteFilter3">{{ this.FilterScopes.THIS_WEEK }}</label>
          </li>
          <li>
            <input name="incompleteFilter" type="radio" id="incompleteFilter4" (change)="this.updateIncompleteFilter(this.FilterScopes.TWO_WEEKS)" />
            <label for="incompleteFilter4">{{ this.FilterScopes.TWO_WEEKS }}</label>
          </li>
        </ul>
      </form>
    </div>
    <div *ngIf="this.showBothLists && this.showIncompleteList">
      <div *ngFor="let a of this.incompleteTasks; let i = index;" id="incomplete" class="col s12 wrapper" [dragula]="first">
        <div [id]="a.getId()" [attr.value]="i.toString()" [style.display]="this.isTaskBeingEdited(a) || this.shouldDisplayTaskForCurrentFilter(a) ? 'initial' : 'none'">
            <table class="eventDisplay">
              <tr class = "row">
                <td class="col s12 m4" align='center'>
                  <div class="collection-head">
                    <div *ngIf="!a.getEditModeTitle()">
                      <h5>
                        {{ (a.getTitle() || '').length <= 20 ? a.getTitle() : a.getTitle().substring(0,16) + '...' }}
                      </h5>
                    </div>
                    <div [style.display]="a.getEditModeTitle() ? 'inline' : 'none'">
                      <input [id]="'titleEdit' + i" name="titleEdit" type="text" [(ngModel)]="a.title">
                    </div>
                  </div>
                </td>
                <td *ngIf="!a.getEditModeDate()" class="col s5 m3" align='center' style='display:table'>
                  <p class="fontify">{{ a.getDueDate() | date:'mediumDate' }}</p>
                </td>
                <td class="col s2 m1" align='center'>
                  <p class="material-icons create action" (mousedown)="this.displayEditableFields(a, i)">create</p>
                </td>
                <td class="col s2 m1" align='center'>
                  <p class="material-icons create action" (mousedown)="this.deleteRemoteTask(a)">delete_sweep</p>
                </td>
                <td class="col s12 m2" align='center' *ngIf="this.doDisplayTaskType() && !a.getEditModeType()" [style.display]="a.getType() ? 'inline': 'none'">
                  <div class="chip">{{ a.getType() }}</div>
                </td>
              </tr>
              <tr class="row" *ngIf="this.doDisplayTaskType()" [style.display]="a.getEditModeType() ? 'inline': 'none'">
                <td>
                  <div class="input-field col s12" id="type-row">
                    <select [id]="'typeEdit' + i" name="type" [(ngModel)]="a.type" #type="ngModel">
                      <option value="" selected>None</option>
                      <option value="Homework">Homework</option>
                      <option value="Quiz">Quiz</option>
                      <option value="Exam">Exam</option>
                      <option value="Project">Project</option>
                    </select>
                    <label [for]="'typeEdit' + i">Type</label>
                  </div>
                </td>
              </tr>
              <tr class="row" [style.display]="a.getEditModeDate() ? 'inline': 'none'">
                <td class="col s8">
                  <input required type="text" placeholder="Due Date" class="form-control existingTaskDatePicker" [id]="'datetime' + i" name="datetime" [ngModel]="a.dueDate | date: 'fullDate'" (click)="this.publishDatePick(a, i)">
                </td>
              </tr>
              <tr class="row" *ngIf="this.doDisplayTaskDescription()">
                <div *ngIf="!a.getEditModeDescription() && (a.getDescription() || '').trim() !== ''" class="col s12">
                  <pre [style.width]="this.correctWidths.description + 'px'">{{ a.getDescription() }}</pre>
                </div>
                <div [style.display]="a.getEditModeDescription() ? 'inline' : 'none'">
                  <div class="row">
                    <div class="input-field col s8">
                      <textarea [id]="'descriptionEdit' + i" name="descriptionEdit" class="materialize-textarea col s12" [(ngModel)]="a.description"></textarea>
                      <label [for]="'descriptionEdit' + i">Description</label>
                    </div>
                  </div>
                </div>
              </tr>
              <tr class="row" [style.display]="a.getEditModeDate() ? 'inline' : 'none'">
                <button class="btn btn-flat update-todo" (click)="this.updateTask(a, i)">Update</button>
                <button class="btn btn-flat update-todo" (click)="this.cancelEditingTask(a, i)">Cancel</button>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <div class="col s12">
      <form class="add-form col s12" #todoForm="ngForm" id="createTaskForm">
        <div class="row row-add">
          <div class="input-field col s12">
            <input required id="title" type="text" name="title" [(ngModel)]="this.newTask.title" #title="ngModel">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="input-field col s12">
          <input required id="datetime" class="newTaskDatePicker" type="text" name="datetime2" placeholder="Due Date">
        </div>
        <div class="row row-add" *ngIf="this.doDisplayTaskType()">
          <div class="input-field col s12" id="type-row">
            <select id="type" name="type" [(ngModel)]="this.newTask.type" #type="ngModel">
              <option value="" selected>None</option>
              <option value="Homework">Homework</option>
              <option value="Quiz">Quiz</option>
              <option value="Exam">Exam</option>
              <option value="Project">Project</option>
            </select>
            <label for="type">Type</label>
          </div>
        </div>
        <div class="row row-add" *ngIf="this.doDisplayTaskDescription()">
          <div class="input-field col s12">
            <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="this.newTask.description" #description="ngModel"></textarea>
            <label for="description">Description</label>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-flat add-todo" [class.disabled]="!todoForm.form.valid" (click)="this.addTask()">
            <b>Add</b>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Completed tasks section -->
  <div class="col m5 todo-main completed-list">
    <div *ngIf="this.errors.completedTasks.occurred" id="completeTasksError">
      <div class="card error-message">
        <div class="card-content">
          {{ this.errors.completedTasks.message }}
        </div>
      </div>
    </div>
    <div *ngIf="this.success.completedTasks.occurred" id="completeTaskSuccess">
      <div class="card success-message">
        <div class="card-content">
          {{ this.success.completedTasks.message }}
        </div>
      </div>
    </div>
    <div class="col s12 center fontify">
      <h3>Completed</h3>
    </div>
    <div id="completedFilters" align='center'>
      <form action="#">
        <ul class="filter-list">
          <li>
            <input checked name="completedFilter" type="radio" id="completedFilter1" (change)="this.updateCompletedFilter(this.FilterScopes.ALL)"/>
            <label for="completedFilter1">{{ this.FilterScopes.ALL }}</label>
          </li>
          <li>
            <input name="completedFilter" type="radio" id="completedFilter2" (change)="this.updateCompletedFilter(this.FilterScopes.TODAY)" />
            <label for="completedFilter2">{{ this.FilterScopes.TODAY }}</label>
          </li>
          <li>
            <input name="completedFilter" type="radio" id="completedFilter3" (change)="this.updateCompletedFilter(this.FilterScopes.THIS_WEEK)" />
            <label for="completedFilter3">{{ this.FilterScopes.THIS_WEEK }}</label>
          </li>
          <li>
            <input name="completedFilter" type="radio" id="completedFilter4" (change)="this.updateCompletedFilter(this.FilterScopes.TWO_WEEKS)" />
            <label for="completedFilter4">{{ this.FilterScopes.TWO_WEEKS }}</label>
          </li>
        </ul>
      </form>
    </div>
    <div *ngIf="this.showBothLists && this.showCompletedList">
      <div *ngFor="let a of this.completedTasks; let i = index;" id="complete" class="col s12 wrapper" [dragula]="second">
        <div [id]="a.getId()" [attr.value]="i.toString()" [style.display]="this.shouldDisplayTaskForCurrentFilter(a) ? 'initial' : 'none'">
          <table class="eventDisplay">
            <tr class = "row">
              <td class="col s12 m4" align='center'>
                <div class="collection-head">
                  <h5>
                    {{ (a.getTitle() || '').length <= 20 ? a.getTitle() : a.getTitle().substring(0,16) + '...' }}
                  </h5>
                </div>
              </td>
              <td class="col s5 m3" align='center' style='display:table'>
                <p class="fontify">{{ a.getDueDate() | date:'mediumDate' }}</p>
              </td>
              <td class="col s2 m1" align='center'>
                <p class="material-icons create action" (mousedown)="this.deleteRemoteTask(a)">delete_sweep</p>
              </td>
              <td class="col s12 m2" align='center' *ngIf="this.doDisplayTaskType()" [style.display]="(a.getType() || '').trim() === '' ? 'none': 'inline'">
                <div class="chip">{{ a.getType() }}</div>
              </td>
            </tr>
            <tr class="row"  *ngIf="this.doDisplayTaskDescription()" [style.display]="(a.getDescription() || '').trim() === '' ? 'none': 'inline'">
              <div class="col s12">
                <pre [style.width]="this.correctWidths.description + 'px'">{{ a.getDescription() }}</pre>
              </div>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
