pre {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-radius: 8px;
  background-color: #E0E0EB;
}

.error-message {
  background-color: #E57373;
  color: white;
  text-align: center;
}

.success-message {
  background-color: #44C751;
  color: white;
  text-align: center;
}

.error-message .card-content, .success-message .card-content {
  padding: 5px;
}

.action {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.todo-main {
  border: thin solid gray;
  border-radius: 8px;
  margin-top: 100px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.todo-body {
  background-color: white;
  border: thin solid gray;
}

.completed-list {
  margin-left: 30px !important;
}

.add-todo {
  background-color: #BCE8F1;
  color: #31708f;
  border-radius: 8px;
  border: thin solid #31708F;
}

.chip {
  margin-top: 13px;
}

.modal-header {
  display: block;
}

.content-view {
  padding: 3px 5px;
  background-color: #F5F5F5;
  border: thin solid black;
  border-radius: 2px;
}

.calendar-title {
  font-family: 'Quicksand', cursive;
}

.collection-head {
  font-family: "Quicksand", cursive;
  display: -webkit-inline-box;
}

.title-collection {
  display: -webkit-inline-box;
}

.action {
  cursor: pointer;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.eventDisplay {
  border-radius: 19px;
  border: thin solid #E0E0EB;
  margin-bottom: 30px
}

pre {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-radius: 8px;
  background-color: #E0E0EB;
}

.add-todo {
  background-color: #BCE8F1;
  color: #31708F;
  border-radius: 8px;
  border: thin solid #31708F;
}

.update-todo {
  background-color: #BCE8F1;
  color: #31708F;
  border-radius: 8px;
  margin-left: 11.250px;
  margin-bottom: 20px;
  border: thin solid #31708F;
}

.row-add {
  margin-bottom: 0px;
}

.row {
  margin-top: 10px;
}

.add-form {
  border: thin solid #E0E0EB;
}

.chip {
  margin-top: 13px;
}

.label_task {
  color: #9E9E9E;
}

.add-todo {
  margin-left: 10.5px;
}

#date-view {
  margin-bottom: 30px;
}

/*
  Dragula CSS styling. DO NOT DELETE
 */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  background-color: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
