# compiled output
/dist
/tmp

# dependencies
node_modules/

# IDEs and editors
/.idea

# Visual Studio
*.sln
*.userprefs
/obj/Debug
*.njsproj

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
npm-debug.log.*
.pm2/

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Secrets
jwtSecret.json
googleSecret.json
bugsnagSecret.json
secrets.tar
