<div class="main">
  <div  class="navbar-fixed">
    <nav>
      <div class="nav-wrapper primary">
        <a href="#" data-activates="slide-out" class="btn-flat circle" id="button-slide"><i class="material-icons white-text">menu</i></a>
        <a routerLink='/main/calendar' class="btn-flat circle" ><i class="material-icons white-text">event_note</i></a>
        <a routerLink='/main/calendar' class="logo brand-logo center">Feasy</a>
      </div>
    </nav>
  </div>
  <ul id="slide-out" class="side-nav right">
    <li>
      <div class="user-view">
        <div class="background secondary">
        </div>
        <div class="user-setting">
          <img class="circle avatar" [src]="avatarUrl" (click)="displayAvatarSelection()">
        </div>
        <p class="white-text">Hey, {{ displayName }}</p>
        <div class="action">
          <div class="logout" (click)="logUserOut()">Logout</div>
          <div class="settings">Settings</div>
        </div>
      </div>
    </li>
    <li>
      <a (click)="closeSideNav('/main/calendar')">
        <table>
          <tr>
            <td class="icon-menu">
              <p class="material-icons">event_note</p>
            </td>
            <td>
              <h6>Calendar</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>
    <li>
      <a routerLink="/main/todo" (click)="closeSideNav()">
        <table>
          <tr>
            <td class="icon-menu">
              <p class="material-icons">library_books</p>
            </td>
            <td>
              <h6>To-Do List</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>
    <li>
      <a>
        <table>
          <tr>
            <td class="icon-menu">
              <p class="material-icons">help</p>
            </td>
            <td>
              <h6>Help/Facts</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>

    <div class="container">
      <div class="quick-settings">
        <div class="head fontify">Quick Settings</div>
        <div class="content">
          <div class="switch">
            <table>
              <tr>
                <td class="fontify">Colors</td>
                <td>
                  <label>
                    Off
                    <input type="checkbox" [(ngModel)]="quickSettingColors" value="true" (click)="toggleQuickSettings('color')">
                    <span class="lever"></span>
                    On
                  </label>
                </td>
              </tr>
              <tr>
                <td class="fontify">Task Label</td>
                <td>
                  <label>
                    Off
                    <input type="checkbox" [(ngModel)]="quickSettingLabel" value="true" (click)="toggleQuickSettings('label')">
                    <span class="lever"></span>
                    On
                  </label>
                </td>
              </tr>
              <tr>
                <td class="fontify">Task Description</td>
                <td>
                  <label>
                    Off
                    <input type="checkbox" [(ngModel)]="quickSettingDescription" value="true" (click)="toggleQuickSettings('description')">
                    <span class="lever"></span>
                    On
                  </label>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="container center upload-button" (click)="openQuickAdd()">
      <label class="waves-effect waves-light btn blue">
         Quick Add
      </label>
    </div>
  </ul>

  <div id="quickAdd" class="modal modal-fixed-footer">
    <div id="quickAddContent" class="modal-content">
      <div *ngIf="this.quickAddError" id="quickAddError">
        <div class="card error-message">
          <div class="card-content">
            {{ this.quickAddErrorMessage }}
          </div>
        </div>
      </div>
      <div *ngIf="this.quickAddSuccess" id="quickAddSuccess">
        <div class="card success-message">
          <div class="card-content" (click)="closeQuickAddModal('main/calendar/')">
            {{ this.quickAddSuccessMessage }}
          </div>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <td><h4>Due Date</h4></td>
            <td><h4>Task Name</h4></td>
          </tr>
        </thead>
        <br><br><br>
        <tbody *ngFor="let task of taskArray; let i = index" style="margin-top: 100px;">
          <tr>
            <td class="tableContent center"><input type="text" placeholder="Click to select a date" class="form-control quickAddDatePicker" [id]="'datetime' + i" name="datetime" [ngModel]="task.dueDate | date: 'fullDate'" (click)="publishDatePick(task, i)"></td>
            <td class="tableContent center"><input type="text" placeholder="Task name" class="form-control taskName" [(ngModel)]="task.title"></td>
            <td class="material-icons" style="padding-right: 20px;" (click)="removeTask(i)">delete_sweep</td>
            <td class="material-icons" *ngIf="i === taskArray.length - 1" (click)="incrementTaskArraySize()">control_point</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="addTasksInBulk()">Add to Calendar</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="avatarSelect" class="modal">
    <div class="modal-content center">
      <h4>Choose Your Avatar</h4>
      <div *ngIf="this.avatarError" id="avatarError">
        <div class="card error-message">
          <div class="card-content">
            {{ this.avatarErrorMessage }}
          </div>
        </div>
      </div>
      <div *ngIf="this.avatarSuccess" id="avatarSuccess">
        <div class="card success-message">
          <div class="card-content">
            {{ this.avatarSuccessMessage }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4" *ngFor="let image of avatars">
            <img class="circle avatar-select col s12" [src]="image.url" (click)="updateAvatar(image.url, image.name)">
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
