.error-message {
  background-color: #E57373;
  color: white;
  text-align: center;
}

.success-message {
  background-color: #44C751;
  color: white;
  text-align: center;
}

.success-message:hover {
  cursor: pointer;
}

.error-message .card-content, .success-message .card-content {
  padding: 5px;
}

.btn-flat {
  display: inline-table;
}

td {
  padding: 0 0;
}

.background {
  text-align: center;
}

.avatar {
  margin-left: 38%;
}

.user-view {
  font-size: 20px;
  text-align: center;
}

.action {
  display: -webkit-inline-box;
  margin-bottom: 40px;
}

.logout {
  border: thin solid #87b4f0;
  border-radius: 9px;
  color: #87b4f0;
  cursor: pointer;
  display: initial;
  margin-right: 25px;
  padding: 5px 5px;
}

.settings {
  border: thin solid #87b4f0;
  border-radius: 9px;
  color: #87b4f0;
  cursor: pointer;
  display: initial;
  margin-left: 25px;
  padding: 5px 5px;
}

tr {
  cursor: pointer;
}

p {
  margin: 0 0 0 0;
}

.container {
  width: 90% !important;
}

.quick-settings {
  border: thin solid red;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
}

.head {
  font-size: 20px;
}

.content {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.icon-menu {
  display: inline-flex;
}

h6 {
  padding-left: 50px;
}

.upload-button {
  margin-top: 30px;
}

.btn {
  border-radius: 10px;
}

.hide {
  display: none;
}

.tableContent {
  padding-right: 50px;
}

.avatar-select {
  margin: 30px 10px 30px 10px;
}

.avatar-select:hover {
  border: solid thick white;
}

thead {
  border-bottom: none;
}
