.btn-flat{
  display: inline-table;
}
td{
  padding: 0 0;
}
.background{
  text-align: center;
}
.avatar{
  margin-left: 38%;
}
.user-view{
  text-align: center;
  font-size: 20px;
}
.action{
  display: -webkit-inline-box;
  margin-bottom: 40px
}
.logout{
  margin-right: 25px;
  padding: 5px 5px;
  border-radius: 9px;
  border: thin solid #87b4f0;
  display: initial;
  color: #87b4f0;
  cursor: pointer;

}
.settings{
  margin-left: 25px;
  padding: 5px 5px;
  border-radius: 9px;
  border: thin solid #87b4f0;
  display: initial;
  color: #87b4f0;
  cursor: pointer;
}
p{
  margin: 0px 0px 0px 0px;
}
