<div class="main" id="topOfPage">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper primary">
        <a href="#" data-activates="slide-out" class="btn-flat circle" id="button-slide">
          <i class="material-icons white-text">menu</i>
        </a>
        <a routerLink='/main/calendar' class="btn-flat circle">
          <i class="material-icons white-text">event_note</i>
        </a>
        <a routerLink='/main/calendar' class="logo brand-logo center">Feasy</a>
      </div>
    </nav>
  </div>
  <ul id="slide-out" class="side-nav right">
    <li>
      <div class="user-view">
        <div class="background secondary">
        </div>
        <div class="user-setting">
          <img class="circle avatar" [src]="this.avatarUrl" (click)="this.displayAvatarSelection()">
        </div>
        <p class="white-text">Hey, {{ this.displayName }}</p>
        <div class="action">
          <div class="logout" (click)="this.logUserOut()">Logout</div>
          <div class="settings">Settings</div>
        </div>
      </div>
    </li>
    <li>
      <a (click)="this.closeSideNav('/main/calendar')">
        <table>
          <tr>
            <td class="icon-menu">
              <p class="material-icons">event_note</p>
            </td>
            <td>
              <h6>Calendar</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>
    <li>
      <a routerLink="/main/todo" (click)="this.closeSideNav()">
        <table>
          <tr>
            <td class="icon-menu">
              <p class="material-icons">list</p>
            </td>
            <td>
              <h6>To-Do List</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>
    <li>
      <a (click)="this.openQuickAdd()">
        <table>
          <tr>
            <td class="icon-menu">
              <p class="material-icons">add_circle_outline</p>
            </td>
            <td>
              <h6>Quick Add</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>
    <li>
      <a routerLink="/main/help" (click)="this.closeSideNav()">
        <table>
          <tr>
            <td class="icon-menu">
              <p class="material-icons">help</p>
            </td>
            <td>
              <h6>Help</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>
    <li>
      <a>
        <table>
          <tr (click)="this.emailFeasy()">
            <td class="icon-menu">
              <p class="material-icons">email</p>
            </td>
            <td>
              <h6>Contact Us</h6>
            </td>
          </tr>
        </table>
      </a>
    </li>

    <div class="container">
      <div class="quick-settings">
        <div class="head fontify">Quick Settings</div>
        <div class="content">
          <div class="switch">
            <table>
              <tr>
                <td class="fontify">Week View Default</td>
                <td>
                  <label>
                    No
                    <input type="checkbox" [(ngModel)]="this.quickSettings.calendarView" [value]="this.quickSettings.calendarView" (click)="this.toggleQuickSettings('calendarView')">
                    <span class="lever"></span>
                    Yes
                  </label>
                </td>
              </tr>
              <tr>
                <td class="fontify">Colors</td>
                <td>
                  <label>
                    Off
                    <input type="checkbox" [(ngModel)]="this.quickSettings.colors" [value]="this.quickSettings.colors" (click)="this.toggleQuickSettings('color')">
                    <span class="lever"></span>
                    On
                  </label>
                </td>
              </tr>
              <tr>
                <td class="fontify">Task Type</td>
                <td>
                  <label>
                    Off
                    <input type="checkbox" [(ngModel)]="this.quickSettings.type" [value]="this.quickSettings.type" (click)="this.toggleQuickSettings('type')">
                    <span class="lever"></span>
                    On
                  </label>
                </td>
              </tr>
              <tr>
                <td class="fontify">Task Description</td>
                <td>
                  <label>
                    Off
                    <input type="checkbox" [(ngModel)]="this.quickSettings.description" [value]="this.quickSettings.description" (click)="this.toggleQuickSettings('description')">
                    <span class="lever"></span>
                    On
                  </label>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <div id="quickAdd" class="modal modal-fixed-footer">
    <div id="quickAddContent" class="modal-content">
      <div *ngIf="this.errors.general.occurred" id="quickAddError">
        <div class="card error-message">
          <div class="card-content">
            {{ this.errors.general.message }}
          </div>
        </div>
      </div>
      <div *ngIf="this.success.general.occurred" id="quickAddSuccess">
        <div class="card success-message">
          <div class="card-content" (click)="this.closeQuickAddModal('/main/calendar')">
            {{ this.success.general.message }}
          </div>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <td>
              <h4>Due Date</h4>
            </td>
            <td>
              <h4>Task Title</h4>
            </td>
          </tr>
        </thead>
        <br>
        <tbody *ngFor="let task of this.quickAddTasks; let i = index" style="margin-top: 100px;">
          <tr>
            <td class="tableContent center">
              <input type="text" placeholder="Click to select a date" class="form-control quickAddDatePicker" [id]="'datetime' + i" name="datetime" [ngModel]="task.dueDate | date:'fullDate'" (click)="this.publishDatePick(task, i)">
            </td>
            <td class="tableContent center">
              <input type="text" placeholder="Title" class="form-control taskName" [(ngModel)]="task.title">
            </td>
            <td class="material-icons" style="padding-right: 20px;" (click)="this.removeTask(i)">delete_sweep</td>
            <td class="material-icons" *ngIf="i === this.quickAddTasks.length - 1" (click)="this.increaseTaskArraySize()">control_point</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-red btn-flat" (click)="this.addTasksInBulk()">Add to Calendar</a>
    </div>
  </div>

  <!-- Avatar modal -->
  <div id="avatarSelect" class="modal">
    <div class="modal-content center">
      <h4>Choose Your Avatar</h4>
      <div *ngIf="this.errors.avatar.occurred" id="avatarError">
        <div class="card error-message">
          <div class="card-content">
            {{ this.errors.avatar.message }}
          </div>
        </div>
      </div>
      <div *ngIf="this.success.avatar.occurred" id="avatarSuccess">
        <div class="card success-message">
          <div class="card-content">
            {{ this.success.avatar.message }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4" *ngFor="let image of this.avatars">
            <img class="circle avatar-select col s12" [src]="this.image.url" (click)="this.updateAvatar(image.url, image.name)">
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
