.modal-header {
  display: block;
}

.content-view {
  padding: 3px 5px;
  background-color: #f5f5f5;
  border: thin solid #ccc;
  border-radius: 2px;
}

.btn-group {
  text-align: center;
}

.cal-title {
  text-align: center;
}

.calendar-app {
  margin-top: 30px;
}

.calendar-title {
  font-family: 'Quicksand', cursive;
}

.collection-head {
  font-family: "Quicksand", cursive;
}

.title-collection {
  display: -webkit-inline-box;
}

.action {
  cursor: pointer;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.eventDisplay {
  border-radius: 19px;
  border: thin solid #E0E0EB;
  margin-bottom: 30px
}

.modal.modal-fixed-footer {
  height: 65%;
}

pre {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-radius: 8px;
  background-color: #E0E0EB;
}

.add-todo {
  background-color: #BCE8F1;
  color: #31708F;
  border-radius: 8px;
  border: thin solid #31708F;
}

.row-add {
  margin-bottom: 0px;
}

.add-form {
  border: thin solid #E0E0EB;
}

.chip {
  margin-top: 13px;
}

.label_assignment {
  color: #9E9E9E;
}

.row{
  margin-top: 10px;
}

select {
  background-color: #FAFAFA;
}

.update-todo {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 11px;
}

.incomplete{
  color: gray;
}
.complete{
  color: green;
}
