.error-message {
  background-color: #E57373;
  color: white;
  text-align: center;
}

.success-message {
  background-color: #44C751;
  color: white;
  text-align: center;
}

.error-message .card-content, .success-message .card-content {
  padding: 5px;
}

.modal-header {
  display: block;
}

.pull-right {
  float: right !important;
}

.content-view {
  background-color: #F5F5F5;
  border: thin solid #CCC;
  border-radius: 2px;
  padding: 3px 5px;
}

.btn-group {
  text-align: center;
}

.btn-red {
  background-color: #E57373;
  color: #FFFFFF;
}

.cal-title {
  text-align: center;
}

.calendar-app {
  margin-top: 30px;
}

.calendar-title {
  font-family: 'Quicksand', cursive;
}

.collection-head {
  font-family: "Quicksand", cursive;
}

.title-collection {
  display: -webkit-inline-box;
}

.action {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.eventDisplay {
  border: thin solid #E0E0EB;
  border-radius: 19px;
  margin-bottom: 30px
}

.modal .modal-fixed-footer {
  height: 65%;
}

pre {
  background-color: #E0E0EB;
  border-radius: 8px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-top: 5px;
}

.add-todo {
  background-color: #BCE8F1;
  border: thin solid #31708F;
  border-radius: 8px;
  color: #31708F;
}

.row-add {
  margin-bottom: 0;
}

.add-form {
  border: thin solid #E0E0EB;
}

.chip {
  margin-top: 13px;
}

.label_task {
  color: #9E9E9E;
}

.row {
  margin-top: 10px;
}

select {
  background-color: #FAFAFA;
}

.update-todo {
  margin-bottom: 20px;
  margin-left: 11px;
  margin-top: 10px;
}

.incomplete {
  color: gray;
}

.complete {
  color: green;
}
