.modal-header{
  display: block;
}
.content-view{
  padding: 3px 5px;
  background-color: #f5f5f5;
  border: thin solid #ccc;
  border-radius: 2px;
}
.btn-group{
  text-align: center;
}
.cal-title{
  text-align: center;
}
.calendar-app{
  margin-top: 30px;
}
.calendar-title{
  font-family: 'Pacifico', cursive;
}
.collection-head{
  font-family: "Pacifico", cursive;
}
.title-collection{
  display: -webkit-inline-box;
}
.action{
  cursor:pointer;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.eventDisplay{
  border-radius: 19px;
  border: thin solid #e0e0eb;
  margin-bottom: 30px
}
.modal.modal-fixed-footer{
  height: 65%;
}
pre{
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-radius: 8px;
  background-color: #e0e0eb;
}
.add-todo{
  background-color: #bce8f1;
  color: #31708f;
  border-radius: 8px;
  border: thin solid #31708f;
}
.row-add{
  margin-bottom: 0px;
}

.add-form{
  border: thin solid #e0e0eb;
}
.chip{
  margin-top: 13px;
}
