<div class="calendar-app">
  <div class="row text-center">
    <div class="col s12">
      <div *ngIf="this.errors.general.occurred" id="generalCalendarError">
        <div class="card error-message">
          <div class="card-content">
            {{ this.errors.general.message }}
          </div>
        </div>
      </div>
      <div *ngIf="this.success.general.occurred" id="generalCalendarSuccess">
        <div class="card success-message">
          <div class="card-content">
            {{ this.success.general.message }}
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="btn btn-red waves-effect waves-light pull-right" (click)="this.calendarViewType = this.CalendarViewTypes.WEEK" [class.active]="this.calendarViewType === this.CalendarViewTypes.WEEK">
          Week
        </div>
        <br><br>
        <div class="btn btn-red waves-effect waves-light pull-right" (click)="this.calendarViewType = this.CalendarViewTypes.MONTH" [class.active]="this.calendarViewType === this.CalendarViewTypes.MONTH">
          Month
        </div>
      </div>
      <div class="col s12 cal-title">
        <h3 class="calendar-title">{{ this.viewDate | calendarDate:(this.calendarViewType + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="row col s12">
        <div class="col s12 center">
          <a class="btn-floating btn-large btn-red waves-effect waves-light left" mwlCalendarPreviousView [view]="this.calendarViewType" [(viewDate)]="this.viewDate">
            <i class="material-icons">arrow_back</i>
          </a>
          <div class="btn btn-red waves-effect waves-light" mwlCalendarToday [(viewDate)]="this.viewDate">
            Today
          </div>
          <a class="btn-floating btn-large btn-red waves-effect waves-light right" mwlCalendarNextView [view]="this.calendarViewType" [(viewDate)]="this.viewDate">
            <i class="material-icons">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div [ngSwitch]="this.calendarViewType" class="col s12">
      <mwl-calendar-month-view *ngSwitchCase="this.CalendarViewTypes.MONTH" [viewDate]="this.viewDate" [events]="this.events" [refresh]="this.calendarState" (dayClicked)="this.monthViewDayClicked($event)" (eventTimesChanged)="this.eventTimesWereChanged($event)" (mousedown)="this.setEvent($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="this.CalendarViewTypes.WEEK" [viewDate]="this.viewDate" [events]="this.events" [refresh]="this.calendarState" (dayClicked)="this.weekViewDayClicked($event)" (eventTimesChanged)="this.eventTimesWereChanged($event)">
      </mwl-calendar-week-view>
    </div>
  </div>

  <div class="modal modal-fixed-footer row" id="selectedDayModal">
    <div class="modal-content col s12" id="selectedDayModalTop">
      <h4 align='center'>{{ this.selectedDayDate | date:'fullDate' }}</h4>
      <div *ngIf="this.errors.selectedDay.occurred" id="selectedDayError">
        <div class="card error-message">
          <div class="card-content">
            {{ this.errors.selectedDay.message }}
          </div>
        </div>
      </div>
      <div *ngIf="this.success.selectedDay.occurred" id="selectedDaySuccess">
        <div class="card success-message">
          <div class="card-content">
            {{ this.success.selectedDay.message }}
          </div>
        </div>
      </div>
      <div *ngFor="let event of this.selectedDayEvents; let i = index;" class="col s12">
        <table class="eventDisplay">
          <tr class="row">
            <td class="col s12 m4" align='center'>
              <div class="collection-head">
                <div *ngIf="!event.getTask().getEditModeTitle()">
                  <h5>{{ event.getTask().getTitle() }}</h5>
                </div>
                <div [style.display]="event.getTask().getEditModeTitle() ? 'inline' : 'none'">
                  <input [id]="'titleEdit' + i" name="titleEdit" type="text" [(ngModel)]="event.task.title">
                  <label [for]="'titleEdit' + i">Title</label>
                </div>
              </div>
            </td>
            <td class="col s7 m2" align='center' *ngIf="this.shouldDisplayTaskType() && !event.getTask().getEditModeType()" [style.display]="event.getTask().getType() ? 'inline': 'none'">
              <div class="chip">{{ event.getTask().getType() }}</div>
            </td>
            <td class="col s2 m1" align='center'>
              <p class="material-icons action" (click)="this.displayEditableFields(event, i)">create</p>
            </td>
            <td class="col s2 m1" align='center'>
              <p class="material-icons action" (click)="this.deleteRemoteTask(event, i)">delete_sweep</p>
            </td>
            <td id="complete_detail" class="col s2 m1" align='center' [ngClass]="event.getTask().getCompleted() ? 'complete' : 'incomplete'">
              <input type="checkbox" [id]="'completed' + i" class="filled-in" [checked]="event.getTask().getCompleted()" (click)="this.updateCompleted(event, i)"/>
              <label [for]="'completed' + i"></label>
              <div *ngIf="event.getTask().getCompleted()">Completed</div>
              <div *ngIf="!event.getTask().getCompleted()">Incomplete</div>
            </td>
          </tr>
          <tr class="row" *ngIf="this.shouldDisplayTaskType()" [style.display]="event.getTask().getEditModeType() ? 'inline': 'none'">
            <td>
              <div class="input-field col s12" id="type-row">
                <select id="type" name="type" [(ngModel)]="event.task.type" #type="ngModel">
                  <option value="" selected>None</option>
                  <option value="Homework">Homework</option>
                  <option value="Quiz">Quiz</option>
                  <option value="Exam">Exam</option>
                  <option value="Project">Project</option>
                </select>
                <label for="type">Type</label>
              </div>
            </td>
          </tr>
          <tr class="row" [style.display]="event.getTask().getEditModeDate() ? 'inline': 'none'" >
            <div class="col s8">
              <input required type="text" placeholder="Due Date" class="form-control existingTaskDatePicker" [id]="'datetime' + i" name="datetime" [ngModel]="event.task.dueDate | date: 'fullDate'" (click)="this.publishDatePick(event, i)">
            </div>
          </tr>
          <tr class="row" *ngIf="this.shouldDisplayTaskDescription()">
            <div *ngIf="!event.getTask().getEditModeDescription() && (event.getTask().getDescription() || '').trim() !== ''" class="col s12">
              <pre [style.width]="this.getSize()" (window:resize)="this.getSize()">{{ event.getTask().getDescription() }}</pre>
            </div>
            <div [style.display]="event.getTask().getEditModeDescription() ? 'inline' : 'none'">
              <div class="row">
                <div class="input-field col s8">
                  <textarea [id]="'descriptionEdit' + i" name="descriptionEdit" class="materialize-textarea col s12" [(ngModel)]="event.task.description"></textarea>
                  <label [for]="'descriptionEdit' + i">Description</label>
                </div>
              </div>
            </div>
          </tr>
          <tr class="row" [style.display]="event.getTask().getEditModeDate() ? 'inline' : 'none'">
            <button class="btn btn-flat add-todo" (click)="this.updateTask(event, i)">Update</button>
            <button class="btn btn-flat add-todo" (click)="this.cancelEditing(event, i)">Cancel</button>
          </tr>
        </table>
      </div>

      <!-- New task creation section -->
      <div class="col s12">
        <form id="task-creation" class="add-form col s12" #taskForm="ngForm">
          <div class="row row-add">
            <div class="input-field col s12">
              <input required id="title" type="text" name="title" [(ngModel)]="this.newTask.title" #title="ngModel">
              <label for="title">Title</label>
            </div>
          </div>
          <div class="row row-add">
            <div class="input-field col s12">
              <input type="checkbox" id="completed" name="completed" [(ngModel)]="this.newTask.completed" #completed="ngModel" />
              <label for="completed">Already completed this task?</label>
            </div>
          </div>
          <div class="row row-add" *ngIf="this.shouldDisplayTaskType()">
            <div class="input-field col s12" id="type-row">
              <select id="type" name="type" [(ngModel)]="this.newTask.type" #type="ngModel">
                <option value="" selected>None</option>
                <option value="Homework">Homework</option>
                <option value="Quiz">Quiz</option>
                <option value="Exam">Exam</option>
                <option value="Project">Project</option>
              </select>
              <label for="type">Type</label>
            </div>
          </div>
          <div class="row row-add">
            <div class="input-field col s12" *ngIf="this.shouldDisplayTaskDescription()">
              <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="this.newTask.description" #description="ngModel"></textarea>
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-flat add-todo" [class.disabled]="!taskForm.form.valid" (click)="this.createTask()">
              <b>Add</b>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
