<div class="row login">
  <form class="col s12 m10 offset-m1 l4 offset-l4" #loginForm="ngForm" autocomplete="off">
    <h4 class="logo">Feasy</h4>
    <div *ngIf="this.error">
      <div class="card error-message">
        <div class="card-content">
          {{ this.errorMessage }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input placeholder="Username (required)" id="username" type="text" name="username" class="validate" required pattern="^\w+([\.-]?\w+)*$" [(ngModel)]="_username" #username="ngModel">
      </div>
      <div class="input-field col s12 m12 l12">
        <input placeholder="Password (required)" id="password" type="password" name="password" class="validate" required [(ngModel)]="_password" #password="ngModel">
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12 m12 l12">
        <input placeholder="Access code (for first time Google users only)" id="token" type="text" class="validate" pattern="^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$" name="token" [(ngModel)]="alphaCode" #token="ngModel">
        <p>This access code is only required when <b>signing up</b> to use our app (even if you use a Google account). Once you have signed up, you do not need to enter a code to log in</p>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="waves-effect waves-light btn btn-red col s12 m5" [class.disabled]="!loginForm.form.valid" (click)="signIn()">Log in</button>
      <button type="button" id="signup" class="waves-effect waves-light btn btn-red col s12 m7" routerLink="/signup">New? Sign up here</button>
      <img id="googleSignIn" (click)="googleSignIn()" (mouseover)='googleSignInHover()' (mouseout)="googleSignInUnhover()" [src]="googleSignInImageSource" alt="Sign in with Google"/>
    </div>
  </form>
</div>
