<div class="row login">
  <form class="col s12 m10 offset-m1 l4 offset-l4" #loginForm="ngForm" autocomplete="on">
    <h4 class="logo">Feasy</h4>
    <div *ngIf="this.error">
      <div class="card error-message">
        <div class="card-content">
          {{ this.errorMessage }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input id="username" class="validate" type="text" name="username" required pattern="^\w+([\.-]?\w+)*$" [(ngModel)]="_username" #username="ngModel">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12 m12 l12">
        <input id="password" class="validate" type="password" name="password" required pattern="^\S+$" [(ngModel)]="_password" #password="ngModel">
        <label for="password">Password</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12 m12 l12">
        <input id="token" class="validate" type="text" name="alphaCode" pattern="^[a-zA-Z\d]{8}-[a-zA-Z\d]{4}-[a-zA-Z\d]{4}-[a-zA-Z\d]{4}-[a-zA-Z\d]{12}$" [(ngModel)]="_alphaCode" #alphaCode="ngModel">
        <label for="token">Access code (for first time Google users only)</label>
        <p>This access code is only required when <b>signing up</b> to use our app (even if you use a Google account). Once you have signed up, you do not need to enter a code to log in</p>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="waves-effect waves-light btn btn-red col s12 m5" [class.disabled]="!loginForm.form.valid" (click)="signIn()">Log in</button>
      <button type="button" class="waves-effect waves-light btn btn-red col s12 m7" routerLink="/signup">New? Sign up here</button>
      <img id="googleSignIn" (click)="googleSignIn()" (mouseover)='googleSignInHover()' (mouseout)="googleSignInUnhover()" [src]="googleSignInImageSource" alt="Sign in with Google"/>
    </div>
  </form>

  <p class="col s12 m10 offset-m1 l4 offset-l4">Forgot your password? Click <a [routerLink]="['/passwordreset']">here</a> to recover it</p>
</div>
