.login {
  margin-top: 55px;
}

#googleSignIn {
  border: none;
  width: 13.100em;
  height: 3.220em;
}

.error-message {
  background-color: #E57373;
  color: white;
  text-align: center;
}

.error-message .card-content {
  padding: 5px;
}

.btn-red {
  background-color: #E57373;
  color: #FFFFFF;
  text-align: center;
}
