.login {
  margin-top: 55px;
}

#signup {
  padding-left: 5px;
}

#googleSignIn {
  border: none;
  width: 13.130em;
  height: 3.250em;
}

.error-message {
  background-color: #E57373;
  color: white;
  text-align: center;
}

.error-message .card-content {
  padding: 5px;
}
