<div class="col-md-6 col-md-offset-3">
  <div class="alert alert-info">
    Username: johndoe<br />
    Password: password
  </div>
  <h2>Login</h2>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>

<button id="glogin">google login</button>

<div>
  <meta name="google-signin-client_id" content="23662056358-j355qof18ns9lsm2dd20nd9usst0frme.apps.googleusercontent.com">
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script>
      /**
      * this function runs if an error is encountered using the google sign in button
      * @param error the error thrown.
      */
      function onFailure(error) {
        console.log(error);
        //add error catching
      }

      /**
      * This function runs on the sign in of a google user
      * @param googleUser The current user attempting to sign in
      */
      function onSignIn(googleUser) {
        //get token  for user who has signed in
        var id_token = googleUser.getAuthResponse().id_token;

        var url = "http://localhost:8080/users";
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
          if(this.readyState == 4 && this.status == 200){
          //when this if is executed that means the
          //data has been sent.

          //send to member area HERE
          }
        }

        //do a post method (@param1)
        //to url specified (@param2)
        //set ajax protocol to true
        request.open("POST", url, true);

        //this is where you add in the info for the body
        var body = id_token;

        request.send(body);
      }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</div>
