#emailSent, #resetSuccess {
  height: 25em;
  width: 25em;
}

#detailsIncorrect {
  height: 15em;
  width: 15em;
}

.password-reset {
  margin-top: 55px;
}

.error-message {
  background-color: #E57373;
  color: white;
  text-align: center;
}

.error-message .card-content {
  padding: 5px;
}
