<div class="row password-reset">
  <form *ngIf="this.showInitialResetForm" class="col s12 m10 offset-m1 l4 offset-l4" #resetForm="ngForm" autocomplete="off">
    <h4 class="logo">Forgot your password?</h4>
    <div *ngIf="this.errors.initial.occurred">
      <div class="card error-message">
        <div class="card-content">
          {{ this.errors.initial.message }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input id="email" type="text" name="email" class="validate" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="_emailAddress" required #emailAddress="ngModel">
        <label for="email">Email address</label>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="waves-effect waves-light btn btn-red col s12 m3" [class.disabled]="!resetForm.form.valid" (click)="sendResetEmail()">Send email</button>
    </div>
  </form>

  <div *ngIf="this.errors.details.occurred" class="col s12 m10 offset-m1 l4 offset-l4">
    <div class="card error-message">
      <div class="card-content">
        {{ this.errors.details.message }}
      </div>
    </div>
    <img id="detailsIncorrect" src="../../assets/icons/icon_error.svg" class="center-block" />
  </div>

  <form *ngIf="this.showFinalResetForm" class="col s12 m10 offset-m1 l4 offset-l4" #updatePasswordForm="ngForm" autocomplete="off">
    <h4 class="logo">Reset your password{{ this.displayName }}</h4>
    <div *ngIf="this.errors.final.occurred">
      <div class="card error-message">
        <div class="card-content">
          {{ this.errors.final.message }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input id="password" type="password" name="password" class="validate" pattern="^[\w\S]{3,}$" [(ngModel)]="_newPassword" required #password="ngModel">
        <label for="password">New password</label>
      </div>
      <div class="input-field col s12 m12 l12">
        <input id="confirmPassword" type="password" name="confirmPassword" class="validate" pattern="^[\w\S]{3,}$" [(ngModel)]="_newPasswordConfirm" required #confirmPassword="ngModel">
        <label for="confirmPassword">Confirm password</label>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="waves-effect waves-light btn btn-red col s9 m7" [class.disabled]="!updatePasswordForm.form.valid || _newPassword !== _newPasswordConfirm" (click)="resetPassword()">Reset your password</button>
    </div>
  </form>

  <div *ngIf="this.showEmailSentMessage" class="col s12 m10 offset-m1 l4 offset-l4">
    <h4 class="logo">Email sent!</h4>
    <img id="emailSent" src="../../assets/icons/icon_mail.svg" class="center-block" />
    <p>Check your inbox for an email from <b>feasyresponse@gmail.com</b>. It will contain information on how to reset your password.</p>
  </div>

  <div *ngIf="this.showSuccess" class="col s12 m10 offset-m1 l4 offset-l4">
    <h4 class="logo">Your password has been reset!</h4>
    <img id="resetSuccess" src="../../assets/icons/icon_checkmark.svg" class="center-block" />
    <p>You will be redirected to log in automatically. You can also go there manually <a [routerLink]="['/login']">now</a></p>
  </div>

  <p class="col s12 m10 offset-m1 l4 offset-l4">Didn't mean to come here? Return to <a [routerLink]="['/login']">log in</a></p>
</div>
