/* You can add global styles to this file, and also import other style files */

/* used in calendar component */
.edit {
  margin-left: 10px;
  margin-right: 3px;
  font-size: 18px;
}

.delete {
  font-size: 18px;
}

html {
  font-family: 'Roboto', sans-serif;
}

label {
  font-weight: normal;
}

.logo {
  font-family: 'Quicksand', cursive;
}
.fontify{
  font-family: 'Quicksand', cursive;
}

.secondary {
  background-color: #0d47a1;
}

.primary {
  background-color: #ee6e73;
}

.third {
  background-color: #ee6eb2;
}
<<<<<<< HEAD
=======

>>>>>>> 61b03f9efd0ccd8a259d8831442946d5b8b2ccd2
/*---------- TESTING PURPOSE ---------------*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #660099;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
