/* You can add global styles to this file, and also import other style files */

/* used in calendar component */
.edit {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 3px;
}

.delete {
  font-size: 18px;
}

html {
  font-family: 'Roboto', sans-serif;
}

label {
  font-weight: normal;
}

.logo {
  font-family: 'Quicksand', cursive;
}

.fontify {
  font-family: 'Quicksand', cursive;
}

.secondary {
  background-color: #0d47a1;
}

.primary {
  background-color: #ee6e73;
}

.third {
  background-color: #ee6eb2;
}

/*---------- TESTING PURPOSE ---------------*/
.popup {
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* The actual popup */
.popup .popuptext {
  background-color: #660099;
  border-radius: 6px;
  bottom: 125%;
  color: #fff;
  left: 50%;
  margin-left: -80px;
  padding: 8px 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 160px;
  z-index: 1;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  visibility: visible;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
