.menuBar {
  height: 120%;
}

md-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menuContent {
  text-align: center;
  display: flex;
}

.menuContent:focus {
  outline-width: 0;
}

.menuContent:hover {
  cursor: pointer;
}

.menuBar:hover {
  border-left: 6px solid;
  border-color: #ff2d55;
}

.menuBar:focus {
  border: 6px solid #ff2d55;
}

.closeSide {
  font-family: 'Nunito', sans-serif;
  float: right;
  margin-right: 0px;
}

.menuContent h2, .menuContent i {
  color: white;
}

h3.logo {
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
  border-bottom: 1px;
  color: white;
}

.card {
  background: #ff2d55;
}

md-sidenav.md-sidenav-opened, md-sidenav.md-sidenav-opening {
  box-shadow: none;
  border-right: 1px solid #ff2d55;
}

h4.route {
  padding-top: 8px;
  margin-left: 90px;
}

.leftMenu {
  display:flex;
}

.toolBarComponent {
  font-family: 'Nunito', sans-serif;
}

.dropdown-item {
  padding: 3px 0.5rem !important;
}

i.fa.fa-user-circle {
  font-size: 150%;
}

.top-dropdown-menu {
  width: 145px;
  top: 55px;
  right: -25px;
}

.form-inline {
  margin-left: 50px;
}

.searchTool {
  background-color: white;
}

.healthbar-widget {
  margin: 5px 5px;
  width: 90%;
}
